# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

/AIproject/AIproject/AIproject/bin/x86/
/AIproject/AIproject/AIproject/bin/
/AIproject/AIproject/AIproject/obj/x86
/AIproject/AIproject/AIproject/obj/
